@import "../../styles/global.scss";
@import '~mdb-ui-kit/css/mdb.min.css';

.footer {
  // background-color: #303435;
  // background-color: #E5E5E5;
  background-color: black;
  color: $white;
  width: 100%;
}

a {
  text-decoration: none!important;
}
li{
  text-decoration: none!important;
}
li:hover a{
  text-decoration: underline!important;
}
  








